include LICENSE
include .pylintrc
include *.md
include requirements.txt
include requirements-dev.txt
recursive-include tests *.py
recursive-include notebook *
recursive-include smtm/strategies *.md
exclude *.log *.db *.env
